@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles here are to deal with sanity content. */
h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 16px 0 8px 0;
}

p {
  text-align: justify;
}
/* makes empty p tags from sanity render as a blank line */
p:empty {
  display: block;
  height: 1.5em;
}
